.about-me {
  padding: 1px 2px 1px 4px;
  border: 1px solid #E5E7E9;
}

.projects {
  padding: 1px 2px 21px 4px;
  border: 1px solid #E5E7E9;
}

.jumbotron {
  background-image: url(../images/fog.jpg);
  background-size: cover;
}

.about-me a {
  font-style: italic;
}

.sub {
  float: right;
}

a {
  color: #777;
}
